<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate @users%>

<ul class="users"> 
	<!-- rails will automatically iterate through @users and use _user partial to render each user -->
	<%= render @users %> 
</ul>

<%= will_paginate @users%>